---
menu:
  title: Галерея
  order: 4
---

extends ../layout

block body
    +header
      +menu(global.menu, attributes.menu)
    main
      .container
        +filckr-gallery('139482627@N05/sets/72157694542218134', 'Фотоотчёты', 250, 'auto')