---
menu:
  title: Анонсы
  order: 1
---

extends ../layout

block body
    +header
      +menu(global.menu, attributes.menu)
    main.container: section: .row
      br
      br
      .col.s12.m6
        .card
          .card-content
            span.card-title Воскресная игротека в HILLEL
            :markdown-it
              # Воскресенье
             
              начало в 16:30
              
              Адрес: Харьков, пл.Конституции, 1 (Дворец труда) 
              3-ий или 6-ой подъезд, офис 32-01 
              Вход свободный 
              
          .card-action
            a(href='/place#day') День (до 19:00)
            a(href='/place#evening') Вечер (после 19:00)
      .col.s12.m6
        .card
          .card-content
            span.card-title Пятничная игротека в HILLEL
            :markdown-it
              # Пятница
              
              с 20.00 до 23.00
              
              Адрес: Харьков, пл.Конституции, 1 (Дворец труда) 
              3-ий или 6-ой подъезд, офис 32-01
              Вход свободный 
          .card-action
            a(href='/place#evening') Место
